@model UploadWorkshop.ViewModels.UploadViewModel

@{
	ViewData["Title"] = "Home Page";
}

<h1>Upload Workshop</h1>

<form asp-controller="Home" asp-action="Upload" method="post" enctype="multipart/form-data">
	<input asp-for="File" type="file" multiple />
	<input type="submit" value="Upload" />
</form>

<ul>
	@foreach (var file in Model.ExitsFiles)
	{
		<li>
			<a target="_blank" href="@file">
				@file
			</a>
		</li>
	}
</ul>